<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- <meta
            http-equiv="Content-Security-Policy"
            content="default-src 'self' data: gap: https://js.stripe.com/v3/ 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"
        /> -->
        <!-- <meta
            http-equiv="Content-Security-Policy"
            content="default-src * self blob: data: gap:; style-src * self 'unsafe-inline' blob: data: gap:; script-src * 'self' 'unsafe-eval' 'unsafe-inline' blob: data: gap:; object-src * 'self' blob: data: gap:; img-src * self 'unsafe-inline' blob: data: gap:; connect-src self * 'unsafe-inline' blob: data: gap:; frame-src * self blob: data: gap:;"
        /> -->
        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'unsafe-inline'"> -->
        <title><%= pageTitle %></title>
        <link rel="stylesheet" href="/css/main.css" />
        <script defer src="/js/main.js"></script>
    <!-- </head>
</html> -->
