<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occurred!</h1>
    <p>We Are Working in fixing the error , sorry for inconvenience!</p>
<%- include('includes/end.ejs') %>
